<?xml version="1.0" encoding="UTF-8"?>
<!--mybatis文件偶尔孩子-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.detectweb.mapper.imgMapper">
    <select id="chekAllImage" resultType="com.example.detectweb.pojo.imgList">
        select imgfile, classes from imglist where username=#{username}
    </select>
    <insert id="uploadImg">
        insert into imglist(username, imgfile, classes, imgName, detectTime) values (#{username}, #{imgPath}, #{classes}, #{imgName}, #{detectTime})
    </insert>
    <delete id="deleteImg">
        delete from imglist where id=#{id}
    </delete>
</mapper>